[Desktop Entry]
Encoding=UTF-8
Name=My Script
Comment=Launch DirSyncPro
Exec=/home/devbox/applications/pycharm-community-2016.3.1/bin/pycharm.sh
Icon=/home/devbox/applications/pycharm-community-2016.3.1/bin/pycharm.png
Type=Application
Name[en_US]=PyCharm CE
Comment[en_US.UTF-8]=Launch PyCharm
